@using TiendaDeLilo
@model List<Manga>; 
@{
    int i = 0;
}
<section id="articulos" class="container">
    <div class="row justify-content-center align-content-center text-center">
        <div>
            <h1>Mangas y Videojuegos</h1>
        </div>
        @foreach(Manga art in Model)
        {
            <article class="col-4 text-start my-5">
                <h2 class="text-center">@art.Titulo</h2>
                <figure class="image-article">
                    <img src="@art.Imagen" alt="imagen de @art.Titulo" class="img-fluid rounded h-100"/>
                </figure>
                <p>Año de publicación: @art.AñoPublicacion</p>
                <p>Autor: @art.Autor</p>
                <div class="mb-3">
                    <p class="d-inline">Generos:</p>
                    @while (i < art.Generos.Count)
                    {
                        if (i == art.Generos.Count - 1)
                        {
                            <p class="d-inline">@art.Generos[i]</p>
                        }
                        else
                        {
                            <p class="d-inline">@art.Generos[i],</p>
                        }
                        i++;
                    }
                    @{
                        i = 0;
                    }
                </div>
                <p>Precio: $@art.Precio</p>
                <p>Stock: @art.Stock</p>
                <a class="btn btn-color text-decoration-none" href="/Articulo/BuscarManga/@art.Id">Ver más</a>
            </article>
        }
        <article class="col-6 mt-5">
            <h2>¿No esta lo que buscas?</h2>
            <p>Llena el formulario y lo obtendremos tan pronto como podamos</p>
            <form method="post" action="ArticuloPeticion" class="text-start border border-dark rounded mb-3 p-3">
                
                <div class="p-1">
                    <label for="articulo" class="form-label">Nombre del articulo:</label>
                    <input type="text" id="articulo" name="name_art" class="form-control" placeholder="Ejemplo: Halo Infinite"/>
                </div>
                <div class="p-1">
                    <label for="autor" class="form-label">Autor:</label>
                    <input type="text" id="autor" name="name_autor" class="form-control" placeholder="Ejemplo: Microsoft" />
                </div>
                <div class="visually-hidden">
                    <input type="hidden" value="@Context.Session.GetString("Correo")" name="autor_peticion"/>
                </div>
                <div class="p-1 my-2">
                    <label for="manga" class="form-check-label">¿Es un manga?</label>
                    <input type="checkbox" check="true" id="manga" name="manga" class="form-check-input" />
                </div>
                <div class="p-1">
                    <button type="submit" class="btn btn-color w-100">Enviar</button>
                </div>
            </form>
        </article>
    </div>
</section>
